<section class="py-5">

    <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
    <h1 class="diplay-3">
        Transaction Succesful
    </h1>
    <div>
        <p class="lead">
            <span>
                2000 usd
            </span>
            Has been transfered to <span> User A</span>
        </p>
    </div>

    <div>
        <button>Download transaction</button>
    </div>
</section>